/* 
Sass ===> Syntactically Awesome Style Sheet
That is an Extension For CSS
That is very Important for Front-End
يقوم المتصفح بتحويل الأكواد من لغة البرمجة ساس إلى لغة البرمجة سي أس أس
نستخدمها لتوفير الوقت والعمل بأحترافية عالية
تستخدم مميزات لغات البرمجة فيها مثل
1 - Variables
2 - Functions
3 - Loop
4 - Extend
5 - Control Flow
6 - Advanced Structre
There are two ways to write Sass :
1 - nameFile.sass ===> Not near from Css (Without {} and ;)
2 - nameFile.scss ===> near from Css From Side Style (With {} and ;)
Note 1: When we click on Watch Sass will build two files The first is a nameFile.css , The second is a nameFile.css.map
Note 2: For build sass file and when click on watch sass ==> Not build file .css and file .css.map ===> We should to write _ before nameFile like _nameFile.scss
Note 3: When we click on Watch Sass ==> سوف يتم ترجمة كل ملفات من نوع ساس
Note 4 (Very Important):
نستخدم الملاحظة الثانية عندما نريد إنشاء ملف من نوع ساس وعند عمل واتش عليه ما يأنشئ ملف سي اس اس بنفس اسمه
حيث نستخدم هذه الطريقة لتفعيل إحدى الطريقتين التاليتين
1 - @import "./path";
2 - @use "./path";
3 - @use "./path1" , "./path2" , ... , "./pathN";

The Main Style For Sass Project :

Folder for Sass :
    --> Folder For Layout
        --> _global_rules.scss
        --> main.scss
    --> Folder For Pages
        --> _contact.scss
// وفي النهاية بنية المشروع على كيفك

Lesson 1 ===> Variables

Syntax: $nameVariable: value || "value";

$alt_color: green; ===> global variable
.header { color: $alt_color; }
.class { 
    $alt_color: black; ===> local variable ===> هون عدلنا تعديل مؤقت على المتغير إذا بدك يكون التعديل دائم اكتب بعد القيمة ===> !global
    color: $alt_color; // black
}
.class1 {
    $alt_color: pink !global; // تعديل دائم
    color: $alt_color;
}
Example :

$alt_color: red;

.class1 {
  color: $alt_color; // red
}
.class2 {
  $alt_color: pink; // local variable;
    color: $alt_color;
}
.class3 {
  $alt_color: black !global; // تعديل دائم
  color: $alt_color; // black
}
.class4 {
  background-color: $alt_color; // black
}

Notes:
    من الأفضل لك عندما تنشأ مشروعك الخاص أن تضع ملف خاص بالمتغيرات داخل مجلد ساس وعندما تريد استخدام ملف ساس خاص بالمتغيرات أن تكتب
    @use "./path" as *;
    or
    @use "./path"; ==> ولكن هنا ستحتاج في كل مرة أن تكتب ==> nameFile.nameVariable
Note ===> Always @use Rule in First Line

Lesson 2 ===> Nesting & Parent Element
// Default way : (Hard)
.parent {
  color: red;
}
.parent p {
  font-size: 13px;
}

// With Sass : (Easily)
// 1 -
.parent {
  color: red;
  p {
    font-size: 13px;
  }
}
// 2 -
.parent2 {
  background-color: $alt_color;
  .p {
    pointer-events: stroke;
    .a {
      color: black;
    }
  }
}
// Note: If There Is selector doesn't content any statement , it's doesn't show in css file (End)
// إذا كان أحد التعليمات لا يحوي أي تعليمة فإنه لن يظهر في ملف السي اس اس المصدر
// like this :
.k {
  display: flex;
}

// Group with Sass :
.parent-one,
.parent-two {
  padding: 10px;
  .child {
    padding: 5px;
  }
}

النتيجة ===> Css File :
.parent-one,
.parent-two {
  padding: 10px;
}

.parent-one .child,
.parent-two .child {
  padding: 5px;
}

// التعامل مع التحديد ===> with Sass :
// 1 -
.parent > {
  .a1 {
    color: yellow;
  }
  .a2 {
    color: yellow;
  }
}
The CSS :
.parent > .a1 {
  color: yellow;
}

.parent > .a2 {
  color: yellow;
}
// 2 -
.parent {
  > .child {
    color: yellow;
  }
  .test {
    color: yellow;
  }
  + p {
    color: yellow;
  }
}
The CSS :
.parent > .child {
  color: yellow;
}

.parent .test {
  color: yellow;
}

.parent + p {
  color: yellow;
}
// 3 -
.parent {
  > {
    .e1 {
      color: yellow;
    }
    .e2 {
      color: yellow;
    }
  }
  // Out {} of >
}
The CSS :
.parent > .e1 {
  color: yellow;
}

.parent > .e2 {
  color: yellow;
}
// Properties For Parents :
// For Select Parent write &
// 1 -
.box {
  .child1 {
    color: yellow;
  }
  .child2 {
    color: yellow;
  }
  // Select Parent.class
  & .red {
    color: red;
  }
  & .green {
    color: green;
  }
  &:hover {
    background-color: black;
  }
  &:hover .title {
    font-weight: bold;
  }
  :not(&) {
    font-weight: normal;
  }
  [dir="rtl"] & {
    direction: rtl;
  }
}
/*
The CSS :
.box .child1 {
  color: yellow;
}

.box .child2 {
  color: yellow;
}

.box .red {
  color: red;
}

.box .green {
  color: green;
}

.box:hover {
  background-color: black;
}

.box:hover .title {
  font-weight: bold;
}

:not(.box) {
  font-weight: normal;
}

[dir="rtl"] .box {
  direction: rtl;
}

Lesson 3 ===> Property Decalarations And Placeholder

1 - Property Declarations
لو عندك تعلمية ولها أختصار مثل
background ===> background-color, background-size, ....
font ===> font-size, font-weight

Example:
.box2 {
  font-size: 10px;
  font: {
    size: 20px;
    weight: bold;
  }
  padding: 10px;
  margin: auto {
    top: 20px;
    bottom: 10px;
    left: 10px;
  }
  border: {
    width: 2px;
    color: red;
    style: solid;
  }
}
The CSS :
.box2 {
  font-size: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-width: 2px;
  border-color: red;
  border-style: solid;
}

2 - Placeholder
الفكرة هي أنك ربما تكتب الكثير من الميزات ثم تعود وتكتب هذه الميزات نفسها لغير عنصر وهنا يصبح الأمر متعب
والحل يكون في لغة ساس الغنية عن التعريف


// Note : إذا وضعنا بدل % نقطة . فإنه سيحسب العنصر ككلاس عادي ولكن عندما تضع % فإن ملف الساس سيفهم عليك أنك لا تريد جعل هذا العنصر ككلاس عادي فيقوم بجعله كملف إستدعاء
%anyName {
هنا تكتب الميزات المراد مشاركتها مع أكثر من عنصر
}
.class {
@extend %anyName // هكذا يكون الاستدعاء
// بهذا الشكل نضمن وجود الميزات كلها في هذا العنصر
}
Example:
%centerElement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent3 {
  @extend %centerElement;
}
The CSS :
.parent3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

Lesson 4 ===>  Control Flow (الجملة الشرطية)
@if - @else
Example:
$theme: "dark";
.page {
  @if $theme == "light" {
    background: {
      color: white;
    }
    color: #444;
  } @else {
    background: {
      color: #444;
    }
    color: white;
  }
}
The CSS :
.page {
  background-color: #444;
  color: white;
}

Example:
$rounded: true;
.mark {
  @extend %centerElement;
  border-radius: if($rounded, 6px, null);
}
The CSS :
.mark {
  border-radius: 6px;
}

// Syntax 1:
$a1: 1;
@if $a1 == 100 {
  Statement
} @else {
  Statement
}

// Syntax 2:
$a1: 1;
border-radius: if($a1==100, 1px solid black, null) ===> if(Condtion, value, null)

// Full Example :
$direction: "top";
.parent-direction {
  @extend %centerElement;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 50px auto;
  &::before {
    content: "";
    position: absolute;
    border: 20px solid transparent;
    @if $direction == "top" {
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      border-bottom-color: red;
    } @else if direction == "right" {
      right: -40px;
      top: 50%;
      transform: translateY(-50%);
      border-left-color: red;
    } @else if direction == "bottom" {
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%);
      border-top-color: red;
    } @else if direction == "left" {
      left: -40px;
      top: 50%;
      transform: translateY(-50%);
      border-left-color: red;
    } @else {
      @error "This Direction #{$direction} is not valid";
    }
  }
}

The CSS :
.parent-direction {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 50px auto;
}

.parent-direction::before {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom-color: red;
}

Lesson 5 ===> Interbolation #{Varibable || Value}
عملية إقحام قيمة ما لمتغير أو أي قيمة في سلسلة نصية معينة
Example:
$company: "Nour";
$position: "left";
.add-#{$company}-#{$position} {
  font-size: 10px;
  background-color: url("./path");
  #{$position}: 0;
}

unique_id() function  ===> It is a function returns a random number
Example:
.add-#{unique-id()} {
  // Deferent Id
  font-weight: bod;
}

The CSS :
.add-Nour-left {
  font-size: 10px;
  background-color: url("./path");
  left: 0;
}

.add-u9db76ed8 {
  font-weight: bod;
}

Lesson 6 ===> Type Of Comments

1 - This Comment isn't Show in css File (خاص بملف الساس)
//
2 - This Comment is Show in css File  ===> ولكن لن يظهر في الكود المضغوط
/ ** /
3 - This Comment Will Show in Any File ===> (مضغوط أو اي ملف)
/ *! * /
4 - يستخدم لتوثيق المعلومات
///
Note: You can use interbolation in any comment (//, / ** /, / *!* /, ///)

Lesson 7 ===> Mixin And Include
تعمل نفس مبدأ عمل ===> placeholder ===> ولكن أكثر أحترافية
// من الأفضل لك عمل مجلد بأسم مساعدات خاص بعملية الميكسين
// Example:
@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.links {
  @include list-reset;
}
The CSS :
ul.links {
  padding: 0;
  margin: 0;
  list-style: none;
}

// Example:
@mixin circle($d) {
  border-radius: 50%;
  width: $d;
  height: $d;
}
.circle-100 {
  @include circle(100px);
  background-color: red;
  color: white;
}
The CSS :
.circle-100 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
}
// ممكن تعمل ميكسين يستدعي ميكسين آخر بداخل
@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-circle {
  @include centering;
  @include circle(200px);
}
The CSS :
.center-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

Lesson 8 ===> Loop In SASS << ❤❤❤ >>
1 ===> For Loop
Syntax:
1 - First Style of for loop
@for $i from 1 through 10 {
  Statement
}

2 - Second Style of for loop
@for $i from 1 to 10 {
  Statement
}

// Example:
@for $i from 1 through 5 {
  .class-#{$i} {
    font-size: #{$i + 10px};
  }
}

The CSS :
.class-1 {
  font-size: 11px;
}

.class-2 {
  font-size: 12px;
}

.class-3 {
  font-size: 13px;
}

.class-4 {
  font-size: 14px;
}

.class-5 {
  font-size: 15px;
}

// Example:
$d: 0;
@for $i from 1 through 10 {
  .class-#{100 + $i} {
    width: $d + 100px;
    height: $d + 100px;
  }
  $d: $d + 100px;
}

2 ===> ForEach ===> توفر عليك وقت للكتابة وتقوم بتنسيق الكود بطريقة إحترافية
// Example:
$themes: red, green, blue;
@each $theme in $themes {
  .#{$theme}-theme {
    .product {
      background-color: white;
      border-bottom: 2px solid $theme;
      .title {
        color: $theme;
        font-weight: bold;
      }
    }
  }
}

The CSS :
.red-theme .product {
  background-color: white;
  border-bottom: 2px solid red;
}

.red-theme .product .title {
  color: red;
  font-weight: bold;
}

.green-theme .product {
  background-color: white;
  border-bottom: 2px solid green;
}

.green-theme .product .title {
  color: green;
  font-weight: bold;
}

.blue-theme .product {
  background-color: white;
  border-bottom: 2px solid blue;
}

.blue-theme .product .title {
  color: blue;
  font-weight: bold;
}

3 ===> Maps + Each
// Example: Maps + Each
$socials: (
  "Facebook": blue,
  "Youtube": red,
  "Github": black,
);
@each $name, $color in $socials {
  .#{$name} {
    background-color: $color;
    color: white;
    &::before {
      content: $name;
    }
  }
}
The CSS :
.Facebook {
  background-color: blue;
  color: white;
}

.Facebook::before {
  content: "Facebook";
}

.Youtube {
  background-color: red;
  color: white;
}

.Youtube::before {
  content: "Youtube";
}

.Github {
  background-color: black;
  color: white;
}

.Github::before {
  content: "Github";
}

// Example: Each
$classes: "one" 20px red, "two" 15px green, "three" 22px blue;
@each $class, $font, $color in $classes {
  .#{$class} {
    font-size: $font;
    background-color: $color;
    color: white;
    padding: $font / 2;
  }
}

The CSS :
.one {
  font-size: 20px;
  background-color: red;
  color: white;
  padding: 10px;
}

.two {
  font-size: 15px;
  background-color: green;
  color: white;
  padding: 7.5px;
}

.three {
  font-size: 22px;
  background-color: blue;
  color: white;
  padding: 11px;
}

4 ===> While Loop
// Example:
$start: 1;
@while $start <= 10 {
  .width-#{$start * 100} {
    width: $start * 100px;
    height: $start * 100px;
  }
  $start: $start + 1;
}

The CSS :
.width-100 {
  width: 100px;
  height: 100px;
}

.width-200 {
  width: 200px;
  height: 200px;
}

.width-300 {
  width: 300px;
  height: 300px;
}

.width-400 {
  width: 400px;
  height: 400px;
}

.width-500 {
  width: 500px;
  height: 500px;
}

.width-600 {
  width: 600px;
  height: 600px;
}

.width-700 {
  width: 700px;
  height: 700px;
}

.width-800 {
  width: 800px;
  height: 800px;
}

.width-900 {
  width: 900px;
  height: 900px;
}

.width-1000 {
  width: 1000px;
  height: 1000px;
}

Lesson 9 ===> Create Bootstrap Grid System
$grid_cols: 12;
@for $i from 1 through $grid_cols {
  .col-#{$i} {
    width: percentage($i/$grid_cols);
  }
}

The CSS :
.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}
*/